@import "settings";
@import "foundation";

#hero {
	background: $drugis-color; 
	height: 420px;
	text-align: left;
	position: relative;
	padding: 100px 20px 0 20px;
}

#hero h1 {
	font-size: 4em;
	color: white;
	font-weight: 500;
	margin-bottom: 0;
	line-height: 100%;
}

#hero h4 {
	font-size: 1.35em;
	color: white;
	font-weight: 300;
}

header {
	background: #cc3333;
	text-align: left;
	position: relative;
	padding: 25px 20px 35px 0px;
}

header h2 {
	font-size: 3.5em;
	color: white;
	font-weight: 500;
	margin-bottom: 0;
	line-height: 100%;
}

header h4 {
	color: white;
}

section.content {
	padding-top: 20px;
}

section {
	margin-bottom: 20px;
}

h3 img {
	float: right;
	margin-right: 10px;
}

.footer {
	background: #333333;
	padding: 24px 0 10px;	
}

.footer a,
.footer h4,
.footer p  {
	color: #666666
}

.footer a:hover {
	color: #777777
}

/* ---------sticky footer --------------*/
* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}

.footer, .push {
	height: 4em;
}

.footer, .push {
	clear: both;
}

/* -------- end sticky footer---------*/
