---
layout: default
title: Home
---

<section id="hero">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell small-12 medium-6 six large-6">
        <h1>drugis.org</h1><br>
        <h4>drug information systems</h4>
      </div>
      <div class="medium-6 six large-6 cell hide-for-small">
        <img class="wordblob" src="/images/banner.png" style="width: 737px;">
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell twelve large-12">
        <div class="grid-x">

          <div class="cell large-7 small-12">
            <h2>Mission</h2>
            {% include mission.html %}
            <p><a href="/about" class="right secondary button">About us →</a></p>
          </div>

          <div class="cell large-4 large-offset-1 small-12">
            <h2>
              <a href="/news">News</a>
              <a href="/news/rss.xml">
                <img class="rss-icon" src="/images/rss-small.png">
              </a>
            </h2>
            <ul class="no-bullet">
              {% for post in site.posts limit:3 %}
              <li>
                <h5>
                  <div class="news-date">{{ post.date | date_to_string }}</div>
                  <a href="{{ post.url }}">
                    {{ post.title }}{% if forloop.index0 != 0 %} &raquo;{% endif %}
                  </a>
                </h5>
                {% if forloop.index0 == 0 %}
                <p>{{ post.excerpt }}</p>
                <p><a href="{{ post.url }}">Read More &raquo;</a></p>
                {% endif %}
              </li>
              {% if forloop.index0 != 2 %}
              <hr />
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-x" style="margin-top: 3rem;">
      <div class="cell twelve large-12" style="text-align: center;">
        <hr>
        <h4>Sponsors</h4>
      </div>
      <div class="cell large-6" style="text-align: right;">
        <a href="http://www.imi.europa.eu/">
          <img src="/images/projects/imi.png" alt="Innovative Medicines Initiative" style="margin: 10px;">
        </a>
      </div>
      <div class="cell large-6">
        <a href="http://www.umcg.nl/">
          <img src="/images/projects/umcg.jpg" alt="University Medical Center Groningen" style="margin: 10px;">
        </a>
      </div>
    </div>
  </div>
</section>