---
layout: default
title: Home
---

<header>
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <h2>
          DRUG INFORMATION SYSTEMS
        </h2>
      </div>
      <div class="cell">
        <h4 style="color: white">Transparent and efficient health care decision making</h4>
      </div>
    </div>
  </div>
</header>

<section class="content">
  <div class="grid-container">
    <div class="grid-x">

      <div class="cell">
        <div class="grid-x grid-margin-x">

          <div class="cell large-4 callout">
            <div style="text-align: center;">
              <h3>ADDIS</h3>
              <a href="https://addis.drugis.org">🔗 addis.drugis.org</a>
            </div>
            <div>
              <hr />
            </div>
            <div style="height: 200px;">
              <ul>
                <li>Evidence-based decision support system</li>
                <li>Structured, study-oriented trials database</li>
                <li>Contains <a href="/software/gemtc">GeMTC</a> and <a href="/software/mcda">MCDA</a></li>
                <li>Integrated, shareable and transparent path from data to descision</li>
              </ul>
            </div>
            <div>
              <hr />
            </div>
            <div style="text-align: center;">
              <a href="/software/addis" class="secondary button">Read more</a>
              <a href="https://github.com/drugis/addis-core" class="button secondary {{include.class}}">
                GitHub
              </a>
            </div>
          </div>

          <div class="cell large-4 callout">
            <div style="text-align: center;">
              <h3>ADDIS / GeMTC</h3>
              <a href="https://gemtc.drugis.org">🔗 gemtc.drugis.org</a>
            </div>
            <div>
              <hr />
            </div>
            <div style="height: 200px;">
              <ul>
                <li>Evidence synthesis</li>
                <li>Simple csv data upload</li>
                <li>Network meta-analysis</li>
                <li>Network meta-regression</li>
                <li>Consistency assessment</li>
              </ul>
            </div>
            <div>
              <hr />
            </div>
            <div style="text-align: center;">
              <a href="/software/gemtc" class="secondary button">Read more</a>
              <a href="https://github.com/drugis/gemtc-web" class="button secondary {{include.class}}">
                GitHub
              </a>
            </div>
          </div>

          <div class="cell large-4 callout">
            <div style="text-align: center;">
              <h3>ADDIS / MCDA</h3>
              <a href="https://mcda.drugis.org">🔗 mcda.drugis.org</a>
            </div>
            <div>
              <hr />
            </div>
            <div style="height: 200px;">
              <ul>
                <li>Benefit-risk analysis</li>
                <li>Manual data entry</li>
                <li>Preference elicitation</li>
                <li>Sensitivity analysis</li>
                <li>Stochastic multicriteria acceptability analysis</li>
              </ul>
            </div>
            <div>
              <hr />
            </div>
            <div style="text-align: center;">
              <a href="/software/mcda" class="secondary button">Read more</a>
              <a href="https://github.com/drugis/mcda-elicitation-web" class="button secondary {{include.class}}">
                GitHub
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="cell" style="text-align: center;">
        <hr />
      </div>

      <div class="cell">
        <div class="grid-x">

          <div class="cell large-7 small-12">
            <h2>Mission</h2>
            {% include mission.html %}
            <p><a href="/about" class="right secondary button">Read more</a></p>
          </div>

          <div class="cell large-4 large-offset-1 small-12">
            <h2>
              <a href="/news">News</a>
              <a href="/news/rss.xml">
                <img class="rss-icon" src="/images/rss-small.png">
              </a>
            </h2>
            <ul class="no-bullet">
              {% for post in site.posts limit:3 %}
              <li>
                <h5>
                  <div class="news-date">{{ post.date | date_to_string }}</div>
                  <a href="{{ post.url }}">
                    {{ post.title }}{% if forloop.index0 != 0 %} &raquo;{% endif %}
                  </a>
                </h5>
                {% if forloop.index0 == 0 %}
                <p>{{ post.excerpt }}</p>
                <p><a href="{{ post.url }}">Read More &raquo;</a></p>
                {% endif %}
              </li>
              {% if forloop.index0 != 2 %}
              <hr />
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-x" style="margin-top: 3rem;">
      <div class="cell" style="text-align: center;">
        <hr>
        <h4>Sponsors</h4>
      </div>
      <div class="cell large-6" style="text-align: right;">
        <a href="http://www.imi.europa.eu/">
          <img src="/images/projects/imi.png" alt="Innovative Medicines Initiative" style="margin: 10px;">
        </a>
      </div>
      <div class="cell large-6">
        <a href="http://www.umcg.nl/">
          <img src="/images/projects/umcg.jpg" alt="University Medical Center Groningen" style="margin: 10px;">
        </a>
      </div>
    </div>
  </div>
</section>
