<div class="footer">
	<div class="grid-container">
		<div class="grid-x">
			<div class="cell large-9">
				<p class="copyright">
					© 2009&mdash;2019 drugis.org<span class="show-for-medium-up">, all rights reserved.</span>
				</p>
			</div>
			<div class="cell large-1" style="text-align: center;">
				<a href="/about/disclaimer">Disclaimer</a>
			</div>
			<div class="cell large-1" style="text-align: center;">
				<a href="/about">About</a>
			</div>
			<div class="cell large-1" style="text-align: center;">
				<a href="/contact">Contact</a>
			</div>
		</div>
	</div>
</div>