  <!-- Navigation -->
  
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="/">
            drugis.org
          </a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
    
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="/research">Research</a>
          <ul class="dropdown">
            <li><a href="/research/publications">Publications</a></li>
            <li><a href="/research/msc-projects">MSc projects</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="has-dropdown">
          <a href="/software">Software</a>
          <ul class="dropdown">
            <li><a href="/software/addis2">ADDIS 2</a></li>
            <li><a href="/software/mcda">GeMTC</a></li>
            <li><a href="/software/mcda">MCDA</a></li>
            <li><a href="/software/r-packages">R packages</a></li>
            <li><a href="/software/addis1">ADDIS 1</a></li>
          </ul>
        </li>
        <li class="divider"></li>
        <li class="has-dropdown">
         <a href="/about">About</a>
         <ul class="dropdown">
          <li><a href="/about/projects">Projects</a></li>
          <li><a href="/about/team">Team</a></li>
        </ul>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/news">News</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </section>
</nav>

<!-- End Top Bar -->
