<p>
At drugis.org it is our mission to develop information technology to assist and, where necessary, change how decisions regarding the use of medicines are made.
We believe this can make decisions more transparent and the process more efficient.
We are currently developing prototype software, in an agile way.
This means that we aim to deliver valuable working software early on in the development process and to continuously improve the software based on feedback from users and researchers.
</p>
