// set of tweeks to make the look decent in ie8

.top-bar {
	margin-bottom: 0;
}

.wordblob {
	margin-top: -75px;
}

.top-bar-section a {
	padding: 10px;
}

div.warning {
  background-color: $warning-color;
}

div.warning a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
