$addis-grey : $crumb-bg;
$addis-grey-border : $crumb-border-color;
#hero {
  background: $drugis-color;
  height: 420px;
  text-align: left;
  position: relative;
  padding: 100px 20px 0 20px;
}

.color-stripe {
  background: $drugis-color;
  height: 0.45rem;
}

// header ////
.user-image {
  margin-top: -1px;
  margin-right: 4px;
  height: 32px;
  border-radius: 15px;
}

.inline-header {
  display: inline;
}

.indent-one {
  margin-left:2rem;
}

navbar-directive ul li > a.manual:hover{
  text-decoration: underline;
}

.alert {
  color: $alert-color;
}
.warning {
  color: $warning-color;
}
.info {
  color: darken($info-color, 10%);
}

.error-message {
  display: block;
  color: $drugis-color;
}

.alert-box-message {
  padding-right: 1.25rem;
}

body.test {
    background-image: url("../img/test.png");
    background-repeat: repeat-x repeat-y;
}

/// tables ///
//////// Tables /////////////////
table {
    caption {
    text-align: left;
    font-weight: lighter;
  }
  border-collapse: collapse;
  //remove default foundation striping
  tr:nth-of-type(even) {
    background-color: transparent;
  }
  tr {
    height: 1rem;
    th.sortable {
      cursor: pointer;
    }
    th {
      text-align: center;
      background-color:#F5F5F5;
    }
    th, td {
      border: solid 1px $addis-grey-border;
      a:hover {
        text-decoration: underline;
      }
    }
    td.button-cell {
      text-align: center;
      button {
        margin-bottom: 0;
        font-size: $table-row-font-size;
      }
    }
  }
}
tr.clickable td {
  color: $primary-color;
}
td.empty-cell {
  background-color: $addis-grey-border;
}
// lighten the darken on hover
tr.on-hover:hover {
  background: darken($secondary-color, 0.5%);
  cursor: pointer;
  text-decoration: none;
}
//////////////

.error-message {
  display: block;
  color: $drugis-color;
}

.application-link a{
  text-decoration: underline;
}

// needed to show part below descender line
input[type="number"],
input[type="text"],
select,
select option {
  line-height: 1.1rem;
}

/////////////////////////// top nav bar
body.f-topbar-fixed {
  padding-top: 19px; // add space top of first item under nav-bar
}
////// end top nav bar


#hero h1 {
  font-size: 4em;
  color: white;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 100%;
}

#hero h1 small {
  color: white;
}

#hero h4 {
  font-size: 1.35em;
  color: white;
  font-weight: 300;
}

header {
  background: $drugis-color;
  text-align: left;
  position: relative;
  padding: 25px 20px 35px 0px;
}

header h2 {
  font-size: 3.5em;
  color: white;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 100%;
}

header h4 {
  color: white;
}

header small {
  color: white;
}

.content {
  padding-top: 20px;
}

h3 img {
  float: right;
  margin-right: 10px;
}

.row-divider {
  margin: 2rem 0;
}

.screen-shot {
  border: 1px solid #dddddd;
  padding: 4px;
  margin: 0.5rem;
}

.footer {
  background: #333333;
  padding: 24px 0 10px;
}

.footer a,
.footer h4,
.footer p  {
  color: #666666
}

.footer a:hover {
  color: #777777
}

/* ---------sticky footer --------------*/
$sticky-footer-height: 4.5rem;
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4rem;
}

.push {
  height: $sticky-footer-height;
}

.footer {
  height: $sticky-footer-height;
}

.footer, .push {
  clear: both;
}

.copyright {
  display: inline;
}

/* -------- end sticky footer---------*/
#map_canvas {
  height: 280px;
}

/* standard */
pre {
  margin-bottom: $paragraph-margin-bottom;
  border: 1px solid darken($secondary-color, 20%);
  background-color: $secondary-color;
  padding: 0.8em;
  font-size: $paragraph-font-size;
  overflow-x: auto;
}

pre code {
  border: none;
  background: none;
  padding: 0px;
}

code {
  border: 1px solid darken($secondary-color, 20%);
  background-color: $secondary-color;
  padding: 0 0.2em 0 0.2em;
}


/* -------- inline help directive---------*/
inline-help {
  margin: 1rem;
}

.joyride-content-wrapper a {
	color: #008CBA; // trialverse header blue , todo make a decision on this
}

body .joyride-tip-guide {
  z-index: 1006; // one above the foundtion modal
  margin-top: -32px;
  margin-left: -1.45rem !important; 
}

inline-help a {
  color: grey;
}

inline-help a:hover {
  color: darken(grey, 10%);
}

/* -------- end inline help directive---------*/

.reveal-modal {
  overflow-x: auto;
  min-width: 540px;
}
