---
layout: default
---

{% assign author = site.authors[page.author] %}

<article>
  <header>
    <div class="row">
      <div class="twelve large-12 columns">
	<h2>News | <small> {{ page.title }} </small></h2>
      </div>
    </div>
  </header>
<ol class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li><a href="/news">News</a></li>
  <li class="current active">{{ page.title }}</li>
</ol>
<section class="content">
    <div class="row">
      <div class="twelve large-12 columns">
        <h3>{{page.title}}</h3>
	<h6>{{ page.date | date_to_string }} <small>&mdash; {{ author.display_name }}</small></h6>
	{{content}}
      </div>
    </div>
  </section>
</article>
